{% if page_obj.has_other_pages %}
    <nav class="pt-3 mt-3 mt-lg-4 mb-2 mb-sm-3 mb-md-4 mb-lg-5" aria-label="Listings pagination">
        <ul class="pagination pagination-lg justify-content-center">
            
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                        ⬅ Prev
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">⬅ Prev</span>
                </li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if num == page_obj.number %}
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">
                            {{ num }}
                            <span class="visually-hidden">(current)</span>
                        </span>
                    </li>
                {% elif num == 1 or num == page_obj.paginator.num_pages or num|add:"-1" == page_obj.number or num|add:"1" == page_obj.number %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                    </li>
                {% elif num == page_obj.number|add:"-2" or num == page_obj.number|add:"2" %}
                    <li class="page-item">
                        <span class="page-link px-2 pe-none">...</span>
                    </li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                        Next ➡
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Next ➡</span>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
