{% extends "base.html" %}
{% block content %}
<h1>Book List</h1>

<ul>
  {% for book in books %}
    <li>
      <img src="{{ book.cover.url }}" alt="Cover" style="max-width: 100px;">
      <a href="{% url 'books:book_detail' book.pk %}">{{ book.title }}</a> by {{ book.author }}

      <br>
      <strong>Votes:</strong> {{ book.total_votes }}

      {% if request.user.is_authenticated %}
        {% if book.status == "voting" %}
            <form action="{% url 'books:toggle_vote' book.pk %}" method="post">
                {% csrf_token %}
                {% if request.user in book.votes.all %}
                    <button type="submit">✅ Voted (Remove)</button>
                {% else %}
                    <button type="submit">Vote</button>
                {% endif %}
            </form>
        {% elif book.status == "reading" %}
            <p><strong>Already in Reading</strong></p>
        {% else %}
            <p><strong>This book is not available for voting or reading</strong></p>
        {% endif %}
    {% endif %}

      <!-- Кнопка для админа -->
      {% if request.user.is_staff and book.status == "voting" %}
        <form action="{% url 'books:finalize_voting' book.pk %}" method="post">
          {% csrf_token %}
          <button type="submit">Finalize Voting & Start Group</button>
        </form>
      {% endif %}
      
    </li>
  {% endfor %}
</ul>
{% endblock %}
