<h3 class="fw-bold">✉ My Messages</h3>

{% if user_profile.idea_comments.all %}
    <ul class="list-group">
        {% for message in user_profile.idea_comments.all %}
            <li class="list-group-item">
                <strong>Idea:</strong> {{ message.idea.title }}
                <p>{{ message.comment|truncatewords:20 }}</p>
                <small class="text-muted">{{ message.created_at }}</small>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p class="alert alert-warning">No messages yet.</p>
{% endif %}
