{% load static %}

<!DOCTYPE html>
<html lang="en" data-bs-theme="light" data-pwa="true">
  <head>
    <meta charset="utf-8">
    <!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover">

    <!-- SEO Meta Tags -->
    <title>{% block title %}Finder | Events - Homepage{% endblock title %}</title>
    <meta name="description" content="Finder - Directory & Listings Bootstrap HTML Template">
    <meta name="keywords" content="directory, listings, search, car dealer, real estate, city guide, business listings, medical directories, event listings, e-commerce, market, multipurpose, ui kit, light and dark mode, bootstrap, html5, css3, javascript, gallery, slider, mobile, pwa">
    <meta name="author" content="Createx Studio">

    <!-- Webmanifest + Favicon / App icons -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" type="image/png" href="{% static 'assets/app-icons/icon-32x32.png' %}" sizes="32x32">
    <link rel="apple-touch-icon" href="{% static 'assets/app-icons/icon-180x180.png' %}">

    <!-- Theme switcher (color modes) -->
    <script src="{% static 'assets/js/theme-switcher.js' %}"></script>

    <!-- Preloaded local web font (Inter) -->
    <link rel="preload" href="{% static 'assets/fonts/inter-variable-latin.woff2' %}" as="font" type="font/woff2" crossorigin>

    <!-- Font icons -->
    <link rel="preload" href="{% static 'assets/icons/finder-icons.woff2' %}" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="{% static 'assets/icons/finder-icons.min.css' %}">

    <!-- Vendor styles -->
    <link rel="stylesheet" href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/choices.js/public/assets/styles/choices.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/flatpickr/dist/flatpickr.min.css' %}">

    <!-- Bootstrap + Theme styles -->
    <link rel="preload" href="{% static 'assets/css/theme.min.css' %}" as="style">
    <link rel="preload" href="{% static 'assets/css/theme.rtl.min.css' %}" as="style">
    <link rel="stylesheet" href="{% static 'assets/css/theme.min.css' %}" id="theme-styles">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% block head %}{% endblock head %}
  </head>

  <body>

    {% include 'includes/navbar.html' %}

    {% include 'includes/flash_messages.html' %}

    <main class="content-wrapper">
      {% block content %}{% endblock content %}
    </main>

    {% include 'includes/footer.html' %}

    <div class="floating-buttons position-fixed top-50 end-0 z-sticky me-3 me-xl-4 pb-4">
      <a class="btn-scroll-top btn btn-sm bg-body border-0 rounded-pill shadow animate-slide-end" href="#top">
        Top
        <i class="fi-arrow-right fs-base ms-1 me-n1 animate-target"></i>
        <span class="position-absolute top-0 start-0 w-100 h-100 border rounded-pill z-0"></span>
        <svg class="position-absolute top-0 start-0 w-100 h-100 z-1" viewBox="0 0 62 32" fill="none">
          <rect x=".75" y=".75" width="60.5" height="30.5" rx="15.25" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10"/>
        </svg>
      </a>
    </div>

    <!-- Vendor scripts -->
    <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/choices.js/public/assets/scripts/choices.min.js' %}"></script>
    <script src="{% static 'assets/vendor/flatpickr/dist/flatpickr.min.js' %}"></script>

    <!-- Bootstrap + Theme scripts -->
    <script src="{% static 'assets/js/theme.min.js' %}"></script>

    {% block scripts %}{% endblock scripts %}
  </body>
</html>
