<h3 class="fw-bold">💡 My Ideas</h3>

{% if user_profile.sprint_ideas.all %}
    <ul class="list-group">
        {% for idea in user_profile.sprint_ideas.all %}
            <li class="list-group-item">
                <strong>{{ idea.title }}</strong>
                <p>{{ idea.content|truncatewords:20 }}</p>
                <a href="{% url 'books:sprint_detail' idea.sprint.pk %}" class="btn btn-outline-secondary btn-sm">View Sprint</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p class="alert alert-warning">No ideas shared yet.</p>
{% endif %}
