<h3 class="fw-bold">📚 My Reading Groups</h3>

{% if user_profile.reading_groups.all %}
    <ul class="list-group">
        {% for group in user_profile.reading_groups.all %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{% url 'books:group_detail' group.pk %}" class="text-decoration-none">
                    {{ group.book.title }}
                </a>
                <span class="badge bg-primary">{{ group.participants.count }} Participants</span>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p class="alert alert-warning">You are not in any reading groups.</p>
{% endif %}